
body{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: black;

}

ul{
    display: inline;
}

li{
    display: inline-block;
}

header button{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
}

button:hover{
    color : lightgreen;
}

/*^^^여기까지가 헤더 & 네비게이터 부분^^^*/
/*vvv여기부터는 메인섹션vvv*/

#main_img{
    position: relative;
    display: inline-block;
    width: 100%;
}

img{
    display: block;
    width: 100vw;
    height : auto;
    position: relative;
    z-index: -1;
    filter: brightness(50%);
    object-fit: contain;
    object-position: center;
}

#main_img_over_text{
    text-align: center;
    color : white;
    position: absolute;
    z-index: 0;
    font-size: 50px;
    font-weight: bold;
    top : 50%;
    left:  50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}